    <footer class="footer">
        <div class="social-icons">
            <span class="icon is-large"><a class="fab fa-2x fa-github" target="_blank"
                    href="https://github.com/cherise-tan"></a></span>
            <span class="icon is-large"><a class="fab fa-2x fa-linkedin-in" target="_blank"
                    href="https://www.linkedin.com/in/cherise-tan/"></a></span>
            <span class="icon is-large"><a class="fas fa-2x fa-envelope" href="mailto:cherisetan@live.com"></a></span>
        </div>
    </footer>