  <section id="about">
    <p>
      I’m Cherise and I am a Medical Doctor who is transitioning into a career in Software Development.
      I love the combination of creativity and problem solving, and am looking forward to forging a new path forwards in
      my career.
    </p>
    <h2 class="title is-5"> Follow me as I embark on my journey through Enspiral Dev Academy's Web Development Bootcamp.
    </h2>
    <h1 class="title">From Doctor to Developer</h1>
  </section>