  <section id="blog-posts">
    <h1 class="title">Tech Blog</h1>
    <h1 class="title is-5 blog-link"><a href="/blog/technical/1">Sprint 1: The Story of Te Houtaewa</a></h1>
    <h1 class="title is-5 blog-link"><a href="/blog/technical/2">Sprint 2: Relative, Absolute and Fixed Positioning</a></h1>
    <h1 class="title is-5 blog-link"><a href="/blog/technical/3">Sprint 3: HTML, CSS, JavaScript and the DOM</a></h1>
    <h1 class="title is-5 blog-link"><a href="/blog/technical/4">Sprint 4: Problem Solving</a></h1>
    <h1 class="title is-5 blog-link"><a href="https://cherise-tan.github.io/minesweeper/" target="_blank">Sprint 5: Minesweeper</a></h1>
    <h1 class="title is-5 blog-link"><a href="https://cherise-tan.github.io/calculator" target="_blank">Sprint 5: Calculator</a></h1>
    <hr>
    
    <h1 class="title">Core Blog</h1>
    <h1 class="title is-5 blog-link"><a href="/blog/cultural/1">Sprint 1: Identities, Values & Strengths</a></h1>
    <h1 class="title is-5 blog-link"><a href="/blog/cultural/2">Sprint 2: Learning Plan</a></h1>
    <h1 class="title is-5 blog-link"><a href="/blog/cultural/3">Sprint 3: Emotional Intelligence</a></h1>   
    <h1 class="title is-5 blog-link"><a href="/blog/cultural/4">Sprint 4: Neuroplasticity & Growth Mindset</a></h1>   
    <h1 class="title is-5 blog-link"><a href="/blog/cultural/5">Sprint 5: Core Reflections</a></h1>   
  </section>